body {
  margin: 2rem;
  font-size: 1.1rem;
  max-width: 60rem;
  font-family: "Times New Roman", Times, serif;
}

h1,
h2,
h3 {
  font-size: 1.1rem;
}

h1 {
  text-align: center;
}

.flowchart,
h2,
h3 {
  text-align: center;
  margin-block-start: 2rem;
}

.avoid-page-break-after {
  page-break-after: avoid;
}

.page-break-before {
  page-break-before: always;
}

pre,
blockquote {
  page-break-inside: avoid;
}

.align-center {
  text-align: center;
}
